@import "variables.less";

// Reset básico
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: @fuente-principal;
}

body {
  background-color: @color-blanco;
  color: @color-texto;
}

.container {
  max-width: @desktop;  
  margin: 0 auto;
  padding: 0 @padding-base;
}

// Utilidades
.text-center { text-align: center; }
.mt-2 { margin-top: (@padding-base * 2); }